@model IEnumerable<Semester2PersoonlijkProjectStreamLabs.Models.UserViewModel>

@{
    ViewData["Title"] = "UserOverview";
}

<h2>Gebruikersoverzicht</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                E-mail address
            </th>
            <th>
                Accounttype
            </th>
            <th>
                Videos user
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Semester2PersoonlijkProjectStreamLabs.Models.UserViewModel item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountType)
                </td>
                <td>
                    @Html.ActionLink("Show Videos User", "GetVideosUser", item )
                </td>
            </tr>
        }
    </tbody>
</table>