@model Semester2PersoonlijkProjectStreamLabs.Models.CategoryViewModel

@{
    ViewData["Title"] = "CategoryOverView";
}

<h2>CategoryOverView</h2>

<div>
    <h4>CategoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit Category", "EditCategory", Model.CategoryId) |
    @Html.ActionLink("Delete Category", "DeleteCategory", Model.CategoryId)
    <a asp-action="Index">Back to List</a>
</div>
