@using Models;
@model Semester2PersoonlijkProjectStreamLabs.Models.ReportViewModel

@{
    ViewData["Title"] = "ReportOverview";
}

<h2>Overview reports</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Reason of report
            </th>
            <th>
                Video
            </th>
            <th>
                User
            </th>
            <th>
                Delete report
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Report item in Model.Reports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Delete Report", "DeleteReport", new { id = item.ReportId }, new { onclick = "Are you sure you want to delete this report?" })
                </td>
                <td>
                    @Html.ActionLink("Go to corresponding video", "VideoDetails", new { id = item.VideoId })
                </td>
            </tr>
        }
    </tbody>
</table>
